@import url(http://fonts.googleapis.com/css?family=Roboto);
/*================================================================*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #212529;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.35;
}

h1, .h1 {
  font-size: 2rem;
  font-family: serif;
  color: #031e51;
  margin-bottom: 3rem;
}

.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
  color: #f7911d;
}

h2, .h2 {
  font-size: 1.5rem;
  color: #696969;
  border-bottom: 1px dotted #696969;
  padding-bottom: 5px;
}

h2.unstyled, .h2.unstyled {
  border-bottom: none;
}

h3, .h3 {
  font-size: 1.25rem;
}

h3.unstyled, .h3.unstyled {
  margin-bottom: 0;
}

h4, .h4 {
  font-size: 1.1rem;
}

h5, .h5 {
  font-size: 1.1rem;
}

h6, .h6 {
  font-size: 1rem;
}

.img-fluid, img {
  max-width: 100%;
  height: auto;
}

.caretright::after {
  content: '\f061';
  font-family: FontAwesome;
  margin-left: 3px;
}

.displaynone {
  display: none;
}

.breadcrumb {
  font-size: 12px;
  background-color: white;
  padding: .75rem 1rem .75rem 0;
}

a:link, a:visited {
  text-decoration: none;
}

.btn {
  white-space: normal;
}

.globaljumpbar {
  padding: 3px 0;
  background-color: #f8f8f8;
}

.globaljumpbar a.calloutbtn {
  font-size: 12px;
  text-transform: uppercase;
  padding: 1px 11px;
}

.globallogoandsearch {
  padding: 10px 0;
}

.globallogoandsearch .mulogo {
  max-width: 300px;
}

.globalmariannav {
  background-color: #031e51;
  padding: 11px 0;
  text-align: center;
}

.globalmariannav a:link, .globalmariannav a:visited {
  color: #ffffff;
  padding: 11px 7px;
  font-size: 18px;
}

.globalmariannav a:hover {
  color: #fdb813;
}

.globalmariannav .logooverlay .actuallogo {
  background-color: transparent;
  position: absolute;
  left: 23px;
  top: -57px;
  z-index: 1000;
}

.globalmariannav .logooverlay .actuallogo svg {
  width: 110px;
}

.globalmariannav .logooverlay .actuallogo.styleasancilla {
  background-color: transparent;
  padding: 10px 10px 0;
  top: -59px;
}

.globalmariannav .logooverlay .actuallogo.styleasancilla svg {
  width: 110px;
}

.globalmariannav.styleasancilla {
  background-color: #fdb813;
}

.globalmariannav.styleasancilla a:link, .globalmariannav.styleasancilla a:visited {
  color: #031e51;
}

.globalmariansubnav {
  padding: 11px 0;
  background-color: #f8f8f8;
}

.globalmariansubnav a:link, .globalmariansubnav a:visited {
  padding: 0 7px;
  color: #696c7c;
}

.globalmariansubnav a:hover {
  color: black;
}

.globalmarianfooter {
  padding: 3rem;
  font-size: 12px;
  background-color: #031e51;
  color: white;
}

.globalmarianfooter h3 {
  color: #fdb813;
  font-size: 14px;
  border-bottom: 1px dotted;
  padding-bottom: 5px;
  margin-top: 17px;
}

.globalmarianfooter ul {
  list-style-type: none;
  padding-left: 0;
}

.globalmarianfooter ul li {
  margin-bottom: 9px;
}

.globalmarianfooter a:link, .globalmarianfooter a:visited {
  color: white;
  display: block;
  line-height: 1.2;
}

.globalmarianfooter a:hover {
  text-decoration: underline;
}

.globalmarianfooter .socialmedia2021 .socialicons2019 {
  display: flex;
  justify-content: center !important;
}

.globalmarianfooter .socialmedia2021 .socialicons2019 svg {
  width: 25px;
  height: 25px;
  margin-right: 7px;
  color: #ffffff;
}

.globalmarianfooter .socialmedia2021 .socialicons2019 a:link, .globalmarianfooter .socialmedia2021 .socialicons2019 a:visited {
  color: #031e51;
  -webkit-transition: all 0.1420s ease-in-out;
  -moz-transition: all 0.1420s ease-in-out;
  -ms-transition: all 0.1420s ease-in-out;
  -o-transition: all 0.1420s ease-in-out;
  transition: all 0.1420s ease-in-out;
}

.globalmarianfooter .socialmedia2021 .socialicons2019 a:hover {
  color: #f7911d;
}

.globalmarianfooter.styleasancilla {
  background-color: #fdb813;
  color: #031e51;
}

.globalmarianfooter.styleasancilla h3 {
  color: #031e51;
  border-bottom-color: #ffffff;
}

.globalmarianfooter.styleasancilla a:link, .globalmarianfooter.styleasancilla a:visited {
  color: #031e51;
}

.globalsearchinfooter {
  background-color: #f8f8f8;
}

.globalmariancopyright {
  color: #696c7c;
  font-size: .8rem;
}

.sidebarmaincontainer {
  font-size: 14px;
}

.sidebarmaincontainer h3 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #696c7c;
}

.sidebarmaincontainer nav {
  margin-bottom: 3rem;
}

.sidebarmaincontainer nav .nav-link {
  padding: .3rem 0;
  font-size: 14px;
}

.sidebarmaincontainer nav .rootlevel {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #696c7c;
}

.globalmobilenavonly.styleasancilla .mobilenavfixed {
  background-color: #fdb813;
  color: #031e51;
}

.globalmobilenavonly .mobilenavfixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #031e51;
  padding: 7px 11px;
  color: #dad9d6;
}

#mobileNav .topctas {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#mobileNav .topctas a:link, #mobileNav .topctas a:visited {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 700;
}

#mobileNav .topctas a:link.item, #mobileNav .topctas a:visited.item {
  text-transform: uppercase;
}

#mobileNav ul li a.standoutbutton:link, #mobileNav ul li a.standoutbutton:visited {
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  font-weight: 700;
}

#mobileNav .submobilenav ul {
  list-style-type: none;
  padding-left: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

#mobileNav .submobilenav ul li {
  border: 1px solid;
  border-radius: 7px;
  font-size: 12px;
  margin-right: 7px;
  margin-bottom: 7px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  background-color: rgba(11, 18, 43, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
  font-size: 20px;
  color: #dad9d6;
}

.overlay .menu.vertical.nested {
  background: #162540;
}

.overlay .subnesteditems {
  border-bottom: 1px solid #696c7c;
  margin: 0;
  display: none;
}

.overlay .closebtn {
  position: absolute;
  right: 20px;
  font-size: 60px;
  color: #fdb813;
}

.overlay .overlay-content {
  position: relative;
  top: 80px;
  width: 100%;
  margin-top: 30px;
}

.overlay .overlay-content a {
  padding: 11px 8px;
  text-decoration: none;
  color: #dad9d6;
  display: block;
  transition: 0.3s;
}

.overlay .overlay-content a:hover, .overlay .overlay .overlay-content a:focus {
  color: #dad9d6;
}

.overlay .overlay-content .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
  content: '+';
  border: none;
  font-size: 30px;
  top: 5px;
  margin-top: 0;
  right: 30px;
}

.overlay .overlay-content .accordion-menu .is-accordion-submenu-parent[aria-expanded='true'] > a::after {
  transform: none;
  content: '-';
}

.overlay .overlay-content .level1 {
  background-color: #0b122b;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.overlay .overlay-content .level1 > li {
  border-bottom: 1px solid rgba(218, 217, 214, 0.2);
}

.overlay .overlay-content .level1 > li[aria-expanded='true'] > a {
  color: #fdb813;
}

.overlay .overlay-content .level1 .level2 {
  font-size: .8em;
  margin-left: 0;
  border-bottom: 1px solid rgba(218, 217, 214, 0.2);
}

.overlay .overlay-content .level1 .level2 a {
  padding-left: 1rem;
}

.overlay .overlay-content .level1 .level2 .level3 {
  background-color: rgba(218, 217, 214, 0.1);
  font-size: .9em;
  margin-left: 0;
  padding-left: 1rem;
}

#searchContainer .searchcontainer {
  padding: 0 1rem;
}

#searchContainer .searchcontainer .sfsearchTxt {
  border-radius: 0;
}

#searchContainer .searchcontainer .sfsearchSubmit {
  border-radius: 0;
}

#searchContainer .searchcontainer .mostpopular {
  margin-bottom: 11px;
  text-align: center;
}

#searchContainer .searchcontainer .mostpopular ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#searchContainer .searchcontainer .mostpopular ul li {
  font-size: 18px;
  padding: 0;
  margin: 3px 3px;
  border-radius: 4px;
  display: inline-block;
}

#searchContainer .searchcontainer .mostpopular ul a:link, #searchContainer .searchcontainer .mostpopular ul a:visited {
  border: 1px solid #dad9d6;
  font-size: 18px;
  padding: 3px 7px;
  border-radius: 4px;
  line-height: 2;
}

#searchContainer .searchcontainer .mostpopular ul a:hover {
  background: #fdb813;
  border-color: #faa719;
  color: #031e51;
}

#searchContainer .searchcontainer .findeverything {
  text-align: center;
}

#searchContainer .title {
  color: #fdb813;
  font-size: 26px;
  font-weight: 300;
}

.a2zlist {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.a2zlist.inthefooter li {
  background-color: #ffffff;
  border: 1px solid #dad9d6;
  font-size: 18px;
}

.a2zlist.inthefooter li a:link, .a2zlist.inthefooter li a:visited {
  line-height: 2.3;
  color: #696c7c;
}

.a2zlist li {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid;
  margin: 0 3px 3px 0;
}

.a2zlist a:link, .a2zlist a:visited {
  border-color: #dad9d6;
  color: #dad9d6;
  width: 44px;
  height: 44px;
  line-height: .9;
  font-weight: 300;
  display: block;
}

.a2zlist a:hover {
  background: #fdb813;
  border-color: #faa719;
  color: #031e51;
}

.statblocksection {
  background-color: #f8f8f8;
}

.statblocksection .statitem {
  margin-bottom: 2rem;
  text-align: center;
  color: #007fac;
}

.statblocksection .statitem.borderright {
  border-right: 1px solid #dad9d6;
}

.statblocksection .statitem h3 {
  font-weight: 700;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.statblocksection .statitem .fas {
  font-size: 51px;
  color: #f7911d;
}

.eventssection {
  background-color: #f8f8f8;
  text-align: center;
  color: #031e51;
}

.eventssection h2 {
  margin-bottom: 0;
}

.eventssection p {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 300;
}

.eventssection .eventswidgetfromlivewhale {
  background-color: #ffffff;
  border-radius: 11px;
  border: 1px solid #031e51;
  padding: 11px;
}

.newssection {
  text-align: center;
  color: #031e51;
}

.newssection h2 {
  margin-bottom: 0;
}

.newssection p {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 300;
}

.newssection .card .card-body {
  padding: 7px;
  text-align: left;
}

.newssection .card .card-body .card-title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 3px;
}

.newssection .card .card-body .card-text {
  font-size: 14px;
  color: #696c7c;
}

.newssection .card .card-body a:link, .newssection .card .card-body a:visited {
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px dotted;
  float: right;
}

.goldslantbackground {
  background-image: url("/images/default-source/_branding/gold-slant-background.png?Status=Master&sfvrsn=1b47afd_0");
  background-size: cover;
  background-position: center;
}

.superlightgraybg {
  background-color: #f8f8f8;
}

.goldbg {
  background-color: #fdb813;
}

.bluebg {
  background-color: #031e51;
}

.whymariansection {
  background-image: url("/images/default-source/_branding/gold-slant-background.png?Status=Master&sfvrsn=1b47afd_0");
  background-size: cover;
  background-position: center;
}

.whymariansection .whyitem {
  color: #031e51;
  text-align: center;
  background-color: #ffffff;
  padding: 11px;
  border: 1px solid #696c7c;
  border-radius: 11px;
}

.whymariansection .whyitem .fas, .whymariansection .whyitem .far {
  font-size: 69px;
  color: #08a8e1;
  margin-bottom: 11px;
}

.whymariansection .whyitem h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.whymariansection .whyitem p {
  font-size: 16px;
  line-height: 1.2;
}

.athleticssection .emaildesignlayout {
  background-image: url("/images/default-source/_branding/brick-wall-bg-athletics.jpg?sfvrsn=16ca51fd_0");
  background-color: #0a1739;
  color: #ffffff;
  font-size: 20px;
}

.athleticssection .emaildesignlayout a:link, .athleticssection .emaildesignlayout a:visited {
  color: #ffffff;
}

.athleticssection .emaildesignlayout a.btn {
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-top: 1.420rem;
}

.jumbotron.hero {
  color: #ffffff;
  background-image: url("/images/default-source/_branding/gold-slant-background.png?Status=Master&sfvrsn=1b47afd_0");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  position: relative;
}

.jumbotron.hero .textbottom {
  position: absolute;
  bottom: -9px;
  text-transform: uppercase;
  font-size: 49px;
  font-weight: 700;
  text-shadow: -2px -2px 0px #05070f;
  line-height: 1.1;
}

.scheduleavisitjumbotron {
  background-image: url("/images/default-source/admissions/alumni-hall-blurred-bg.jpg?sfvrsn=f5c151fd_0");
  text-shadow: 1px 1px 0px #05070f;
  font-size: 24px;
  color: #ffffff;
  background-size: cover;
}

.scheduleavisitjumbotron h2 {
  font-weight: 700;
}

.scheduleavisitjumbotron p {
  line-height: 1.3;
}

.pagejumpnav ul {
  list-style-type: none;
  padding-left: 11px;
}

.pagejumpnav .card .card-header {
  background-color: #007fac;
  color: #ffffff;
}

.pagejumpnav .card .card-body {
  background-color: #ffffff;
}

.pagejumpnav .card .card-body a.link, .pagejumpnav .card .card-body a.visited {
  color: #007fac;
}

/*columns*/
.columns2 li, .columns3 li, .columns4 li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.columns2 {
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
}

.columns3 {
  -moz-column-count: 3;
  -moz-column-gap: 40px;
  -webkit-column-count: 3;
  -webkit-column-gap: 40px;
  column-count: 3;
  column-gap: 40px;
}

.columns4 {
  -moz-column-count: 4;
  -moz-column-gap: 40px;
  -webkit-column-count: 4;
  -webkit-column-gap: 40px;
  column-count: 4;
  column-gap: 40px;
}

@media all and (max-width: 768px) {
  .columns3, .columns4 {
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;
    column-count: 2;
    column-gap: 40px;
  }
}

@media all and (max-width: 420px) {
  .columns2, .columns3, .columns4 {
    -moz-column-count: 1;
    -moz-column-gap: 40px;
    -webkit-column-count: 1;
    -webkit-column-gap: 40px;
    column-count: 1;
    column-gap: 40px;
  }
}

.styledboxes {
  border-radius: 11px;
  background-color: #ffffff;
  padding: 11px;
  text-align: center;
  margin-bottom: 1rem;
}

.styledboxes .fas, .styledboxes .far {
  font-size: 55px;
  margin-bottom: 16px;
  color: #08a8e1;
}

.textshadow, .text-shadow {
  text-shadow: -1px -1px 0px #000000;
}

.socialmedia2021 {
  display: flex;
}

.socialmedia2021 svg {
  width: 25px;
  height: 25px;
  margin-right: 7px;
  color: #031e51;
}

.socialmedia2021 a:link, .socialmedia2021 a:visited {
  color: #031e51;
  -webkit-transition: all 0.1420s ease-in-out;
  -moz-transition: all 0.1420s ease-in-out;
  -ms-transition: all 0.1420s ease-in-out;
  -o-transition: all 0.1420s ease-in-out;
  transition: all 0.1420s ease-in-out;
}

.socialmedia2021 a:hover {
  color: #f7911d;
}

/*================================================================*/
.styledtabs {
  margin: 3rem 1rem 1rem;
  padding: 2rem 1rem;
  background-color: #f8f8f8;
}

.styledtabs .nav-tabs .nav-item.show .nav-link, .styledtabs .nav-tabs .nav-link.active {
  background-color: #08a8e1;
}

.styledtabs .nav-tabs .nav-link {
  background-color: #b2b2b2;
  color: #05070f;
}

.styledtabs .btn-info {
  color: #05070f;
  background-color: #08a8e1;
  border-color: #08a8e1;
}

.styledtabs .nav-pills {
  margin-bottom: 2rem;
}

.styledtabs .tab-content input[type=text] {
  margin-bottom: 1rem;
}

.card .card-title {
  margin-top: 0;
  color: #05070f;
}

.card .card-text {
  color: #696c7c;
}

.card .cardhorizontal {
  display: flex;
  flex: 1 1 auto;
}

.card .cardhorizontal img {
  max-width: 239px;
}

@media all and (max-width: 576px) {
  .card .cardhorizontal img {
    max-width: 35vw;
  }
}

#accordion div a svg {
  width: 18px;
  height: 21px;
  margin: 0 0 0 5px;
  font-size: 20px;
  line-height: 1.35;
  text-align: left;
  fill: #08a8e1;
}

#accordion .accordion-item {
  font-size: 16px;
  line-height: 1.35;
  text-align: left;
  border-radius: 5px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  margin-bottom: .75rem;
}

#accordion .accordion-item:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

#accordion .accordion-item a.accordion-header {
  font-size: 20px;
  color: #343a40;
  display: inline-flex;
  padding: 12px 24px;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

#accordion .accordion-item a.accordion-header .accordion-header-text {
  flex-grow: 1;
}

#accordion .accordion-item a.accordion-header.expanded {
  background-color: #f7f7f7;
}

#accordion .accordion-item a.accordion-header.expanded svg .sf-icon-down {
  display: block;
}

#accordion .accordion-item a.accordion-header.expanded svg .sf-icon-right {
  display: none;
}

#accordion .accordion-item a.accordion-header svg .sf-icon-down {
  display: none;
}

#accordion .accordion-item a.accordion-header svg .sf-icon-right {
  display: block;
}

#accordion .accordion-content {
  padding: 25px;
}

/*events widget from livewhale*/
.calendarwidget {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
}

.calendarwidget .newevent {
  padding: 5px;
  background: white;
  border: 1px solid #ededed;
  margin: .5rem;
  min-width: 300px;
}

.calendarwidget .newevent:hover {
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.42);
  -o-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.42);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.42);
}

.calendarwidget .eventimage {
  display: table-cell;
  padding-right: 7px;
  min-width: 100px;
}

.calendarwidget .eventdetails {
  display: table-cell;
  vertical-align: top;
  line-height: 1.2;
  margin-bottom: 7px;
}

.floatingbuttoncontainer {
  position: fixed;
  bottom: 11px;
  left: 11px;
  z-index: 999;
  display: none;
}

.floatingbuttoncontainer .dropdown-toggle {
  background-color: #08a8e1;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #ffffff;
}

.floatingbuttoncontainer .dropdown-toggle::after {
  display: none !important;
}

.floatingbuttoncontainer .dropup .dropdown-menu {
  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(5, 7, 15, 0.3);
}

.floatingbuttoncontainer .dropup .dropdown-menu .dropdown-item i, .floatingbuttoncontainer .dropup .dropdown-menu .dropdown-item em {
  color: #faa719;
  margin-right: 3px;
  font-size: 23px;
}

.blockquote.blockquotegold {
  padding: 2rem 0;
  border-top: 3px dotted #fdb813;
  border-bottom: 3px dotted #fdb813;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gsc-input-box {
  height: 69px;
  padding-left: 21px;
}

.gsc-search-button-v2 {
  width: 69px !important;
  height: 69px;
}

table.gsc-search-box td.gsc-input {
  padding-right: 0;
}

.googlesearchcompact .gsc-control-cse {
  border-color: #ffffff;
  background-color: #ffffff;
}

.googlesearchcompact .gsc-input-box {
  width: auto;
  height: auto;
  margin-right: 0;
  padding-left: 0;
}

.googlesearchcompact .gsc-search-button-v2 {
  width: auto !important;
  height: 46px;
}

.googlesearchcompact .gs-title {
  text-align: left;
}
