@import url(http://fonts.googleapis.com/css?family=Roboto);

// variables
$mued: #ededed;
$mu69: #696969;

$mublue: #031e51;
$mubluedarker: #0a1739;
$mubluedarkest: #0b122b;

$mugold: #fdb813;
$mugolddarker: #faa719;
$mugolddarkest: #f7911d;

$musuperlightgray: #f8f8f8;
$mulightgray: #dad9d6;
$mudarkgray: #696c7c;
$mublack: #05070f;

$mucyan: #08a8e1;
$mucyanaccessible: #007fac;

$white: #ffffff;

$sjiblue: #1e1a57;
$sjibluedark: #221a32;

$sjiyellow: #dadb25;

$sjigreen: #47a293;
$sjigreendarker: #306556;

$sjired: #e24639;
$sjireddarker: #b82c1f;

/*================================================================*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #212529;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.35;
}
h1, .h1 {
  font-size: 2rem;
  font-family: serif;
  color: #031e51;
  margin-bottom: 3rem;
}
.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
  color: $mugolddarkest;
}
h2, .h2 {
  font-size: 1.5rem;
  color: $mu69;
  border-bottom: 1px dotted $mu69;
  padding-bottom: 5px;
  &.unstyled {
    border-bottom: none;
  }
  }
h3, .h3 {font-size: 1.25rem;}
h4, .h4 {font-size: 1.1rem;}
h5, .h5 {font-size: 1.1rem;}
h6, .h6 {font-size: 1rem;}

.img-fluid, img {
  max-width: 100%;
  height: auto;
}
.caretright::after {
  content: '\f061';
  font-family: FontAwesome;
  margin-left: 13px;
}
.displaynone {
  display: none;
}
.breadcrumb {
  font-size: 12px;
  background-color: white;
  padding: .75rem 1rem .75rem 0;
}


// typography
a:link, a:visited {
  // color: $mucyan;
  text-decoration: none;
}
.btn {
  white-space: normal;
}

// global jump bar
.globaljumpbar {
  padding: 3px 0;
  background-color: $musuperlightgray;
  a.calloutbtn {
    font-size: 12px;
    text-transform: uppercase;
    padding: 1px 11px;
  }
}

// global logo and search
.globallogoandsearch {
  padding: 10px 0;
  .mulogo {
    max-width: 300px;
  }
}

// global marian nav
.globalmariannav {
  background-color: $mublue;
  padding: 11px 0;
  text-align: center;
  a:link, a:visited {
    color: $white;
    padding: 11px 7px;
    font-size: 18px;
  }
  a:hover {
    color: $mugold;
  }
  .logooverlay {
    .actuallogo {
      background-color: transparent;
      position: absolute;
      left: 23px;
      top: -57px;
      z-index: 1000;
      svg {
        width: 110px;
      }
      // ancilla style overrides
      &.styleasancilla {
        background-color: transparent;
        padding: 10px 10px 0;
        top: -59px;
        svg {
          width: 110px;
        }
      }
    }
  }
  // ancilla style overrides dude
  &.styleasancilla {
    background-color: $mugold;
    a:link, a:visited {
      color: $mublue;
    }
  }
}

.globalmariansubnav {
  padding: 11px 0;
  background-color: $musuperlightgray;
  a:link, a:visited {
    padding: 0 7px;
    color: $mudarkgray;
  }
  a:hover {
    color: black;
  }
}

.globalmarianfooter {
  padding: 3rem;
  font-size: 12px;
  background-color: $mublue;
  color: white;
  h3 {
    color: $mugold;
    font-size: 14px;
    border-bottom: 1px dotted;
    padding-bottom: 5px;
    margin-top: 17px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      margin-bottom: 9px;
    }
  }
  a:link, a:visited {
    color: white;
    display: block;
    line-height: 1.2;
  }
  a:hover {
    text-decoration: underline;
  }
  .socialmedia2021 {
    .socialicons2019 {
      display: flex;
      justify-content: center !important;
      svg {
        width: 25px; height: 25px; margin-right: 7px; color: $white;
      }
      a:link, a:visited {
        color: #031e51;
        -webkit-transition: all 0.1420s ease-in-out;
        -moz-transition: all 0.1420s ease-in-out;
        -ms-transition: all 0.1420s ease-in-out;
        -o-transition: all 0.1420s ease-in-out;
        transition: all 0.1420s ease-in-out;
      }
      a:hover {
        color: $mugolddarkest;
      }
    }
  }
  // styles for ancilla overrides
  &.styleasancilla {
    background-color: $mugold;
    color: $mublue;
    h3 {
      color: $mublue;
      border-bottom-color: $white;
    }
    a:link, a:visited {
      color: $mublue;
    }
  }
}

.globalsearchinfooter {
  background-color: $musuperlightgray;
}

.globalmariancopyright {
  color: $mudarkgray;
  font-size: .8rem;
}

// global sidebar nav styleasancilla
.sidebarmaincontainer {
  font-size: 14px;
  h3 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: $mudarkgray;
  }
  .departmentalsidebarnav {}
  nav {
    margin-bottom: 3rem;
    .nav-link {
        padding: .3rem 0;
        font-size: 14px;
    }
    .rootlevel {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      color: #696c7c;
    }
  }
}

.globalmobilenavonly {
  &.styleasancilla {
    .mobilenavfixed {
      background-color: $mugold;
      color: $mublue;
    }
  }
  // mobile slide out navlevel
  .mobilenavfixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #031e51;
    padding: 7px 11px;
    color: $mulightgray;
  }
}

#mobileNav {
  .topctas {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    a:link, a:visited {
      border: 1px solid $white;
      color: $white;
      font-weight: 700;
      &.item {
        text-transform: uppercase;
      }
    }
  }

  ul {
    li {
      a.standoutbutton:link, a.standoutbutton:visited {
        // color: $white;
        // background: $mucyan;
        // font-weight: 700;
        color: $white;
        background: transparent;
        border: 2px solid $white;
        font-weight: 700;
      }
    }
  }

  .submobilenav {
    ul {
      list-style-type: none;
      padding-left: 0;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      li {
        border: 1px solid;
        border-radius: 7px;
        font-size: 12px;
        margin-right: 7px;
        margin-bottom: 7px;
      }
    }
  }

}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  background-color: rgba(11, 18, 43, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
  font-size: 20px;
  color: $mulightgray;
  .menu.vertical.nested {
    background: #162540;
  }
  .subnesteditems {
    border-bottom: 1px solid #696c7c;
    margin: 0;
    display: none;
  }
  .closebtn {
    position: absolute;
    right: 20px;
    font-size: 60px;
    color: $mugold;
  }
  .overlay-content {
    position: relative;
    top: 80px;
    width: 100%;
    margin-top: 30px;
    // border-top: 1px solid rgba(218, 217, 214, 0.2);
  }
  .overlay-content a {
    padding: 11px 8px;
    text-decoration: none;
    color: $mulightgray;
    display: block;
    transition: 0.3s;
  }
  .overlay-content a:hover, .overlay .overlay-content a:focus {
    color: $mulightgray;
  }
  .overlay-content .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
    content: '+';
    border: none;
    font-size: 30px;
    top: 5px;
    margin-top: 0;
    right: 30px;
  }
  .overlay-content .accordion-menu .is-accordion-submenu-parent[aria-expanded='true'] > a::after {
    transform: none;
    content: '-';
  }
  .overlay-content .level1 {
    background-color: $mubluedarkest;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
  }
  .overlay-content .level1 > li {
    border-bottom: 1px solid rgba(218, 217, 214, 0.2);
  }
  .overlay-content .level1 > li[aria-expanded='true'] > a {
    color: $mugold;
  }
  .overlay-content .level1 .level2 {
    font-size: .8em;
    margin-left: 0;
    border-bottom: 1px solid rgba(218, 217, 214, 0.2);
  }
  .overlay-content .level1 .level2 a {
    padding-left: 1rem;
  }
  .overlay-content .level1 .level2 .level3 {
    background-color: rgba(218, 217, 214, 0.1);
    font-size: .9em;
    margin-left: 0;
    padding-left: 1rem;
  }
}

#searchContainer {
  .searchcontainer {
    padding: 0 1rem;
    .sfsearchTxt {
      border-radius: 0;
    }
    .sfsearchSubmit {
      border-radius: 0;
    }
    .mostpopular {
      margin-bottom: 11px;
      text-align: center;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          font-size: 18px;
          padding: 0;
          margin: 3px 3px;
          border-radius: 4px;
          display: inline-block;
        }
        a:link, a:visited {
          border: 1px solid #dad9d6;
          font-size: 18px;
          padding: 3px 7px;
          border-radius: 4px;
          line-height: 2;
        }
        a:hover {
          background: #fdb813;
          border-color: #faa719;
          color: #031e51;
        }
      }
    }
    .findeverything {
      text-align: center;
    }
  }
  .title {
    color: #fdb813;
    font-size: 26px;
    font-weight: 300;
  }
  // previous location of a2z list
}

.a2zlist {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: center;
  &.inthefooter {
    li {
      background-color: $white;
      border: 1px solid $mulightgray;
      font-size: 18px;
      a:link, a:visited {
        line-height: 2.3;
        color: $mudarkgray;
      }
    }
  }
  li {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid;
    margin: 0 3px 3px 0;
  }
  a:link, a:visited {
    border-color: #dad9d6;
    color: #dad9d6;
    width: 44px;
    height: 44px;
    line-height: .9;
    font-weight: 300;
    display: block;
  }
  a:hover {
    background: #fdb813;
    border-color: #faa719;
    color: #031e51;
  }
}

//homepage for mu
.statblocksection {
  background-color: $musuperlightgray;
  .statitem {
    &.borderright {
      border-right: 1px solid $mulightgray;
    }
    text-align: center;
    color: $mucyanaccessible;
    h3 {
      font-weight: 700;
      font-size: 3rem;
    }
    .fas {
      font-size: 51px;
      color: $mugolddarkest;
    }
  }
}
.eventssection {
  background-color: $musuperlightgray;
  text-align: center;
  color: $mublue;
  h2 {
    margin-bottom: 0;
  }
  p {
    font-size: 20px;
    line-height: 1.1;
    font-weight: 300;
  }
  .eventswidgetfromlivewhale {
    background-color: $white;
    border-radius: 11px;
    border: 1px solid $mublue;
    padding: 11px;
  }
}
.newssection {
  text-align: center;
  color: $mublue;
  h2 {
    margin-bottom: 0;
  }
  p {
    font-size: 20px;
    line-height: 1.1;
    font-weight: 300;
  }
  .card {
    .card-body {
      padding: 7px;
      text-align: left;
      .card-title {
          font-weight: 500;
          font-size: 14px;
          margin-bottom: 3px;
      }
      .card-text {
        font-size: 14px;
        color: $mudarkgray;
      }
      a:link, a:visited {
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 1px dotted;
        float: right;
      }
    }
  }
}

// backgrounds
.goldslantbackground {
  background-image: url("/images/default-source/_branding/gold-slant-background.png?Status=Master&sfvrsn=1b47afd_0");
  background-size: cover;
  background-position: center;
}
.superlightgraybg {
  background-color: $musuperlightgray;
}
.goldbg {
  background-color: $mugold;
}
.bluebg {
  background-color: $mublue;
}

.whymariansection {
  background-image: url("/images/default-source/_branding/gold-slant-background.png?Status=Master&sfvrsn=1b47afd_0");
  background-size: cover;
  background-position: center;
  .whyitem {
    color: $mublue;
    text-align: center;
    background-color: $white;
    padding: 11px;
    border: 1px solid $mudarkgray;
    border-radius: 11px;
    .fas, .far {
      font-size: 69px;
      color: $mucyan;
      margin-bottom: 11px;
    }
    h5 {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
    }
    p {
      font-size: 16px;
      line-height: 1.2;
    }
  }
}
.athleticssection {
  .emaildesignlayout  {
    background-image: url("/images/default-source/_branding/brick-wall-bg-athletics.jpg?sfvrsn=16ca51fd_0");
    background-color: $mubluedarker;
    color: $white;
    font-size: 20px;
    a:link, a:visited {
      color: $white;
    }
    a.btn {
      border: 1px solid $white;
      color: $white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      margin-top: 1.420rem;
    }
  }
}

.jumbotron {
  &.hero {
    color: $white;
    background-image: url("/images/default-source/_branding/gold-slant-background.png?Status=Master&sfvrsn=1b47afd_0");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    position: relative;
    .textbottom {
      position: absolute;
      bottom: -9px;
      text-transform: uppercase;
      font-size: 49px;
      font-weight: 700;
      text-shadow: -2px -2px 0px $mublack;
      line-height: 1.1;
    }
  }
}

.scheduleavisitjumbotron {
  background-image: url("/images/default-source/admissions/alumni-hall-blurred-bg.jpg?sfvrsn=f5c151fd_0");
  text-shadow: 1px 1px 0px $mublack;
  font-size: 24px;
  color: $white;
  background-size: cover;
  h2 {
    font-weight: 700;
  }
  p {
    line-height: 1.3;
  }
}

.pagejumpnav {
  ul {
    list-style-type: none;
    padding-left: 11px;
  }
  .card {
    .card-header {
      background-color: $mucyanaccessible;
      color: $white;
    }
    .card-body {
      background-color: $white;
      a.link, a.visited {
        color: $mucyanaccessible;
      }
    }
  }
}

.whatdoyoudonow {

}

/*columns*/
.columns2 li, .columns3 li, .columns4 li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.columns2 {
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
}
.columns3 {
  -moz-column-count: 3;
  -moz-column-gap: 40px;
  -webkit-column-count: 3;
  -webkit-column-gap: 40px;
  column-count: 3;
  column-gap: 40px;
}
.columns4 {
  -moz-column-count: 4;
  -moz-column-gap: 40px;
  -webkit-column-count: 4;
  -webkit-column-gap: 40px;
  column-count: 4;
  column-gap: 40px;
}
@media all and (max-width: 768px) {
  .columns3, .columns4 {
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;
    column-count: 2;
    column-gap: 40px;
  }
}
@media all and (max-width: 420px) {
  .columns2, .columns3, .columns4 {
    -moz-column-count: 1;
    -moz-column-gap: 40px;
    -webkit-column-count: 1;
    -webkit-column-gap: 40px;
    column-count: 1;
    column-gap: 40px;
  }
}


.styledboxes {
  border-radius: 11px;
  background-color: $white;
  padding: 11px;
  text-align: center;
  margin-bottom: 1rem;
  .fas, .far {
    font-size: 55px;
    margin-bottom: 16px;
    color: $mucyan;
  }
}

.textshadow, .text-shadow {
  text-shadow: -1px -1px 0px #000000;
}

// social media icons in open space
.socialmedia2021 {
    display: flex;
    // justify-content: center !important;
    svg {
      width: 25px; height: 25px; margin-right: 7px; color: $mublue;
    }
    a:link, a:visited {
      color: #031e51;
      -webkit-transition: all 0.1420s ease-in-out;
      -moz-transition: all 0.1420s ease-in-out;
      -ms-transition: all 0.1420s ease-in-out;
      -o-transition: all 0.1420s ease-in-out;
      transition: all 0.1420s ease-in-out;
    }
    a:hover {
      color: $mugolddarkest;
    }
}


/*================================================================*/
.styledtabs {
  margin: 3rem 1rem 1rem;
  padding: 2rem 1rem;
  background-color: #f8f8f8;
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      background-color: $mucyan;
  }
  .nav-tabs {
    .nav-link {
      background-color: #b2b2b2;
      color: $mublack;
    }
  }
  .btn-info {
    color: $mublack;
    background-color: $mucyan;
    border-color: $mucyan;
  }
  .nav-pills {
    margin-bottom: 2rem;
  }
  .tab-content input[type=text] {
    margin-bottom: 1rem;
  }
}


// custom .card styles
.card {
  .card-title {
    margin-top: 0;
    color: $mublack;
  }
  .card-text {
    color: $mudarkgray;
  }
  .cardhorizontal {
    display: flex;
    flex: 1 1 auto;
    img {
      max-width: 239px;
    }
    @media all and (max-width: 576px) {
      img {
        max-width: 35vw;
      }
    }
  }
}


//newsroom styles
.newsarticlelistings {}


// styled  global accordion
#accordion {
  div a svg {
      width: 18px;
      height: 21px;
      margin: 0 0 0 5px;
      font-size: 20px;
      line-height: 1.35;
      text-align: left;
      fill: #08a8e1;
  }
  .accordion-item {
      font-size: 16px;
      line-height: 1.35;
      text-align: left;
      border-radius: 5px;
      border: solid 1px #e0e0e0;
      background-color: #ffffff;
      margin-bottom: .75rem;
      &:hover {
        box-shadow: 0px 0px 3px rgba(0,0,0,.3);
      }
      a.accordion-header {
        font-size: 20px;
        color: #343a40;
        display: inline-flex;
        padding: 12px 24px;
        flex-direction: row;
        width: 100%;
        box-sizing: border-box;
        .accordion-header-text {
            flex-grow: 1;
        }
        &.expanded {
            background-color: #f7f7f7;
            svg {
              .sf-icon-down{
                  display:block;
              }
              .sf-icon-right {
                  display: none;
              }
            }
        }
        svg {
          .sf-icon-down {
              display: none;
          }
          .sf-icon-right {
              display: block;
          }
        }
      }
  }
  .accordion-content{
      padding:25px;
  }
}


/*events widget from livewhale*/
.calendarwidget {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
  .newevent {
    padding: 5px;
    background: white;
    border: 1px solid $mued;
    margin: .5rem;
    min-width: 300px;
    &:hover {
      -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.42);
      -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.42);
      -o-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.42);
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.42);
    }
  }
  .eventimage {
    display: table-cell;
    padding-right: 7px;
    min-width: 100px;
  }
  .eventdetails {
    display: table-cell;
    vertical-align: top;
    line-height: 1.2;
    margin-bottom: 7px;
  }
}
