/*================================================================*/
body {
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  color: #212529;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.img-fluid, img {
  max-width: 100%;
  height: auto;
}

a:link, a:visited {
  text-decoration: none;
}

.globaljumpbar {
  padding: 3px 0;
  background-color: #f8f8f8;
}

.globaljumpbar a.calloutbtn {
  font-size: 12px;
  text-transform: uppercase;
  padding: 1px 11px;
}

.globallogoandsearch {
  padding: 10px 0;
}

.globallogoandsearch .mulogo {
  max-width: 300px;
}

.globalmariannav {
  background-color: #031e51;
  padding: 11px 0;
  text-align: center;
}

.globalmariannav a:link, .globalmariannav a:visited {
  color: #ffffff;
  padding: 11px 7px;
  font-size: 18px;
}

.globalmariannav a:hover {
  color: #fdb813;
}

.globalmariannav .logooverlay .actuallogo {
  background-color: #0a1739;
  position: absolute;
  left: 23px;
  top: -33px;
  z-index: 1000;
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.77);
}

.globalmariannav .logooverlay .actuallogo svg {
  width: 80px;
}

.globalmariannav .logooverlay .actuallogo.styleasancilla {
  background-color: transparent;
  padding: 10px 10px 0;
  top: -59px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.globalmariannav .logooverlay .actuallogo.styleasancilla svg {
  width: 110px;
}

.globalmariannav.styleasancilla {
  background-color: #fdb813;
}

.globalmariannav.styleasancilla a:link, .globalmariannav.styleasancilla a:visited {
  color: #031e51;
}

.globalmariansubnav {
  padding: 11px 0;
  background-color: #f8f8f8;
}

.globalmariansubnav a:link, .globalmariansubnav a:visited {
  padding: 0 7px;
  color: #696c7c;
}

.globalmariansubnav a:hover {
  color: black;
}

.globalmarianfooter {
  margin-top: 5rem;
  padding: 3rem;
  font-size: 12px;
  background-color: #031e51;
  color: white;
}

.globalmarianfooter h3 {
  color: #fdb813;
  font-size: 14px;
  border-bottom: 1px dotted;
  padding-bottom: 5px;
  margin-top: 17px;
}

.globalmarianfooter ul {
  list-style-type: none;
  padding-left: 0;
}

.globalmarianfooter ul li {
  margin-bottom: 9px;
}

.globalmarianfooter a:link, .globalmarianfooter a:visited {
  color: white;
  display: block;
  line-height: 1.2;
}

.globalmarianfooter a:hover {
  text-decoration: underline;
}

.globalmarianfooter .socialmedia2021 .socialicons2019 {
  display: flex;
  justify-content: center !important;
}

.globalmarianfooter .socialmedia2021 .socialicons2019 svg {
  width: 25px;
  height: 25px;
  margin-right: 7px;
  color: #ffffff;
}

.globalmarianfooter .socialmedia2021 .socialicons2019 a:link, .globalmarianfooter .socialmedia2021 .socialicons2019 .socialicons2019 a:visited {
  color: #031e51;
  -webkit-transition: all 0.1420s ease-in-out;
  -moz-transition: all 0.1420s ease-in-out;
  -ms-transition: all 0.1420s ease-in-out;
  -o-transition: all 0.1420s ease-in-out;
  transition: all 0.1420s ease-in-out;
}

.globalmarianfooter .socialmedia2021 .socialicons2019 a:hover {
  color: #f7911d;
}

.globalmarianfooter.styleasancilla {
  background-color: #fdb813;
  color: #031e51;
}

.globalmarianfooter.styleasancilla h3 {
  color: #031e51;
  border-bottom-color: #ffffff;
}

.globalmarianfooter.styleasancilla a:link, .globalmarianfooter.styleasancilla a:visited {
  color: #031e51;
}

.globalmariancopyright {
  color: #696c7c;
  font-size: .8rem;
}

.globalmobilenavonly.styleasancilla .mobilenavfixed {
  background-color: #fdb813;
  color: #031e51;
}

.globalmobilenavonly .mobilenavfixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #031e51;
  padding: 7px 11px;
  color: #dad9d6;
}

#mobileNav .topctas {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#mobileNav .topctas a:link, #mobileNav .topctas a:visited {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 700;
}

#mobileNav .topctas a:link.item, #mobileNav .topctas a:visited.item {
  text-transform: uppercase;
}

#mobileNav ul li a.standoutbutton:link, #mobileNav ul li a.standoutbutton:visited {
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  font-weight: 700;
}

#mobileNav .submobilenav ul {
  list-style-type: none;
  padding-left: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

#mobileNav .submobilenav ul li {
  border: 1px solid;
  border-radius: 7px;
  font-size: 12px;
  margin-right: 7px;
  margin-bottom: 7px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: rgba(11, 18, 43, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
  font-size: 20px;
  color: #dad9d6;
}

.overlay .menu.vertical.nested {
  background: #162540;
}

.overlay .subnesteditems {
  border-bottom: 1px solid #696c7c;
  margin: 0;
  display: none;
}

.overlay .closebtn {
  position: absolute;
  right: 20px;
  font-size: 60px;
  color: #fdb813;
}

.overlay .overlay-content {
  position: relative;
  top: 80px;
  width: 100%;
  margin-top: 30px;
}

.overlay .overlay-content a {
  padding: 11px 8px;
  text-decoration: none;
  color: #dad9d6;
  display: block;
  transition: 0.3s;
}

.overlay .overlay-content a:hover, .overlay .overlay .overlay-content a:focus {
  color: #dad9d6;
}

.overlay .overlay-content .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
  content: '+';
  border: none;
  font-size: 30px;
  top: 5px;
  margin-top: 0;
  right: 30px;
}

.overlay .overlay-content .accordion-menu .is-accordion-submenu-parent[aria-expanded='true'] > a::after {
  transform: none;
  content: '-';
}

.overlay .overlay-content .level1 {
  background-color: #0b122b;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.overlay .overlay-content .level1 > li {
  border-bottom: 1px solid rgba(218, 217, 214, 0.2);
}

.overlay .overlay-content .level1 > li[aria-expanded='true'] > a {
  color: #fdb813;
}

.overlay .overlay-content .level1 .level2 {
  font-size: .8em;
  margin-left: 0;
  border-bottom: 1px solid rgba(218, 217, 214, 0.2);
}

.overlay .overlay-content .level1 .level2 a {
  padding-left: 1rem;
}

.overlay .overlay-content .level1 .level2 .level3 {
  background-color: rgba(218, 217, 214, 0.1);
  font-size: .9em;
  margin-left: 0;
  padding-left: 1rem;
}

#searchContainer .searchcontainer {
  padding: 0 1rem;
}

#searchContainer .searchcontainer .sfsearchTxt {
  border-radius: 0;
}

#searchContainer .searchcontainer .sfsearchSubmit {
  border-radius: 0;
}

#searchContainer .searchcontainer .mostpopular {
  margin-bottom: 11px;
  text-align: center;
}

#searchContainer .searchcontainer .mostpopular ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#searchContainer .searchcontainer .mostpopular ul li {
  font-size: 18px;
  padding: 0;
  margin: 3px 3px;
  border-radius: 4px;
  display: inline-block;
}

#searchContainer .searchcontainer .mostpopular ul a:link, #searchContainer .searchcontainer .mostpopular ul a:visited {
  border: 1px solid #dad9d6;
  font-size: 18px;
  padding: 3px 7px;
  border-radius: 4px;
  line-height: 2;
}

#searchContainer .searchcontainer .mostpopular ul a:hover {
  background: #fdb813;
  border-color: #faa719;
  color: #031e51;
}

#searchContainer .title {
  color: #fdb813;
  font-size: 26px;
  font-weight: 300;
}

#searchContainer .a2zlist {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#searchContainer .a2zlist li {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid;
  margin: 0 3px 3px 0;
}

#searchContainer .a2zlist a:link, #searchContainer .a2zlist a:visited {
  border-color: #dad9d6;
  color: #dad9d6;
  width: 44px;
  height: 44px;
  line-height: .9;
  font-weight: 300;
}

#searchContainer .a2zlist a:hover {
  background: #fdb813;
  border-color: #faa719;
  color: #031e51;
}

.statblocksection {
  background-color: #f8f8f8;
}

.statblocksection .statitem {
  text-align: center;
  color: #007fac;
}

.statblocksection .statitem.borderright {
  border-right: 1px solid #dad9d6;
}

.statblocksection .statitem h3 {
  font-weight: 700;
  font-size: 3rem;
}

.statblocksection .statitem .fas {
  font-size: 51px;
  color: #f7911d;
}

.eventssection {
  background-color: #f8f8f8;
  text-align: center;
  color: #031e51;
}

.eventssection h2 {
  margin-bottom: 0;
}

.eventssection p {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 300;
}

.eventssection .eventswidgetfromlivewhale {
  background-color: #ffffff;
  border-radius: 11px;
  border: 1px solid #031e51;
  padding: 11px;
}

.newssection {
  text-align: center;
  color: #031e51;
}

.newssection h2 {
  margin-bottom: 0;
}

.newssection p {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 300;
}

.newssection .card .card-body {
  padding: 7px;
  text-align: left;
}

.newssection .card .card-body .card-title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 3px;
}

.newssection .card .card-body .card-text {
  font-size: 14px;
  color: #696c7c;
}

.newssection .card .card-body a:link, .newssection .card .card-body a:visited {
  font-size: 12px;
  text-transform: uppercase;
}

.whymariansection {
  background-image: url("/images/default-source/_branding/gold-slant-background.png?Status=Master&sfvrsn=1b47afd_0");
  background-size: cover;
  background-position: center;
}

.athleticssection .emaildesignlayout {
  background-image: url("/images/default-source/_branding/brick-wall-bg-athletics.jpg?sfvrsn=16ca51fd_0");
  background-color: #0a1739;
  color: #ffffff;
  font-size: 20px;
}

.athleticssection .emaildesignlayout a:link, .athleticssection .emaildesignlayout a:visited {
  color: #ffffff;
}

.athleticssection .emaildesignlayout a.btn {
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-top: 1.420rem;
}
