/* added by ed testing
body {
    background-color: green !important;
  }
*/

/*@media only screen and (-webkit-device-pixel-ratio: 2)*/
@media only screen and (-webkit-min-device-pixel-ratio: 2)
{
/* added by ed for testing
  body {
    background-color: #fdb813 !important;
  }
*/
    /*#region Layout widgets*/
    .sfWrapper .sf_colsOut.sf_2cols_1_33,
    .sfWrapper .sf_colsOut.sf_2cols_2_33,
    .sfWrapper .sf_3cols_1_33,
    .sfWrapper .sf_3cols_3_33
    {
        width: 33% !important;
    }
    .sfWrapper .sf_colsOut.sf_2cols_2_67,
    .sfWrapper .sf_colsOut.sf_2cols_1_67
    {
        width: 67% !important;
    }
    .sfWrapper .sf_colsOut.sf_2cols_1_50,
    .sfWrapper .sf_colsOut.sf_2cols_2_50,
    .sfWrapper .sf_3cols_2_50
    {
        width: 50% !important;
    }
    .sfWrapper .sf_colsOut.sf_2cols_1_25,
    .sfWrapper .sf_colsOut.sf_2cols_2_25,
    .sfWrapper .sf_4cols_1_25,
    .sfWrapper .sf_4cols_2_25,
    .sfWrapper .sf_4cols_3_25,
    .sfWrapper .sf_4cols_4_25,
    .sfWrapper .sf_3cols_1_25,
    .sfWrapper .sf_3cols_3_25
    {
        width: 25% !important;
    }
    .sfWrapper .sf_colsOut.sf_2cols_2_75,
    .sfWrapper .sf_colsOut.sf_2cols_1_75
    {
        width: 75% !important;
    }
    .sfWrapper .sf_5cols_1_20,
    .sfWrapper .sf_5cols_2_20,
    .sfWrapper .sf_5cols_3_20,
    .sfWrapper .sf_5cols_4_20,
    .sfWrapper .sf_5cols_5_20
    {
        width: 20% !important;
    }
    .sfWrapper .sf_3cols_2_34
    {
        width: 34% !important;
    }

    .sfWrapper .sf_cols .sf_colsOut .sf_colsIn
    {
        margin: 0 40px 0 10px !important;
        overflow: hidden;
    }

    .sfWrapper .sf_cols .sf_colsOut:first-child .sf_colsIn
    {
        margin-left: 40px !important;
    }
}
