h2 {
  font-family: "times new roman", serif;
  color: #47a293;
}

/*sitefinity created accordion*/
.sflistExpandAllLnkWrp {
  margin-bottom: 1em;
}

.sflistList {
  list-style-type: none;
  margin: 0 0 3rem 0;
  padding: 0;
}

.sflistList .sflistListItem {
  margin: .5em 0;
  border: 1px solid #dad9d6;
  padding: .5em;
  background: #fff;
}

.sflistList .sflistItemTitle {
  margin: 0;
}

.sflistList a.sflistItemToggleLnk {
  display: block;
  background: transparent !important;
  font-size: 1rem;
  margin: 0;
  padding: .5em;
}

.sflistList .sflistItemTitle a.sflistListItemExpanded {
  background: white !important;
  border-top: 5px solid #dadb25;
}

.sflistList a.sflistItemToggleLnk:hover {
  text-decoration: none;
  background: white !important;
}

.sflistList .sflistItemContent {
  background: white;
  padding: 1em;
}
