body {
  background-color: #031e51;
  color: #fff;
  margin: 0;
  padding: 0 50px 0px 10px;
  font-family: "franklin-gothic-urw", sans-serif;
  /*
  background-image: url(/images/default-source/dsign/mu-dsign-logo.png);
  background-position: 420% -180%;
  background-repeat: no-repeat;
  */
}

.textgold {
  color: #fdb813;
}

.widgethead {
  border-bottom: 3px solid #fdb813;
  text-align: center;
  margin-bottom: 29px;
  font-size: 51px;
  line-height: 1;
}

.widgethead .title {
  text-transform: uppercase;
}

.widgethead .date {
  font-size: 0.9em;
  margin-bottom: 31px;
  font-weight: 300;
}

.widgethead .tagline {
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 7px;
  line-height: 1;
}

.bxslider2018style {
  font-size: 33px;
  list-style-type: none;
  padding: 0;
}

.bxslider2018style li {
  margin-bottom: 27px;
}

.bxslider2018style .eventcontainer {
  position: relative;
  float: left;
  margin-bottom: 40px;
  width: 100%;
}

.bxslider2018style .eventcontainer .eventdetails {
  width: 65%;
  float: left;
}

.bxslider2018style .eventcontainer .eventdetails .title a:link, .bxslider2018style .eventcontainer .eventdetails .title a:visited {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  line-height: 1;
}

.bxslider2018style .eventcontainer .eventdetails .location {
  text-transform: uppercase;
  font-weight: 300;
  font-size: .7em;
}

.bxslider2018style .eventcontainer .eventtime {
  float: right;
  width: 35%;
  text-align: right;
  line-height: 1;
  color: #fdb813;
  font-weight: 300;
  background-color: green;
}

.bxslider2018style .eventcontainer .eventtime .calendardate {
  display: block;

}
