/* Place your CSS here */
#SurveyEngineBody, .Skin .SkinInner {background: transparent;}
.Skin .QuestionText {color:#05070f; padding-top:0; padding-bottom:0; font-size:14px;}
.Skin input.InputText, .Skin select, .Skin textarea  {
    width: 100% !important;
    padding: 7px;
	margin-bottom:11px !important;
}
	.Skin select {height: 34px;}
	.Skin textarea.InputText {height: 102px !important; width: 100% !important;}
#ProgressBar {display: none;}
.Skin .QuestionBody {padding: 0 5px 0;}
.Skin #Buttons {
    text-align: left;
    margin-top: 0;
}
.Skin input[type=button] {
    background: #ffc107;
    border: none;
    padding: 10px 20px;
    width: 100%;
    margin-top: 0;
    font-size: 16px;
}
.Skin .EndOfSurvey {
    font-size: 21px;
    color: #05070f;
    line-height: 1.3;
    font-weight: 100;
}
.Skin .EndOfSurvey a:link {color:#ffc107;}
.Skin #Plug a {opacity:0;}

<!-- error colors-->
.Skin .ValidationError {padding:5px 0;}
.Skin .QuestionOuter.Highlight .Inner {background:transparent;}