/*
.pbSubsection * {
    font-size: inherit;
    box-sizing: border-box;
}
*/
.pbSubsection td, .pbSubsection th {
    display: block;
    text-align: left !important;
    width: 100% !important;
}

.pbSubsection input, .pbSubsection textarea, .pbSubsection select {
    width: 100%;
}

.pbSubsection input {
    padding: 4px 6px;
}

.pbSubheader {
    background: #031e51 !important;
    padding: 8px 12px !important;
    font-size: .8rem;
}