.mucounselorcontactform {}
.mucounselorcontactform .sfRadioList {
  padding-left: 1rem;
  display: block;
  margin-bottom: 1rem;
}
.mucounselorcontactform input[type="radio"] {
  margin-bottom: 0;
}
.mucounselorcontactform textarea, input[type="text"] {
  max-width: 90%;
}
.mucounselorcontactform input[type="submit"] {
  border: 1px solid #08a8e1;
  padding: .7rem 1rem;
  background-color: #08a8e1;
  color: #fff;
  font-weight: 700;
}
