$mublue: #031e51;
$mubluedarker: #0a1739;
$mubluedarkest: #0b122b;
$mulightgray: #dad9d6;
$mudarkgray: #696c7c;
$mugold: #fdb813;
$mugolddarker: #faa719;
$mugolddarkest: #f7911d;

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: rgba($mubluedarkest, .95);
  overflow-x: hidden;
  transition: 0.5s;
  font-size: 24px;
  color: $mulightgray;
  .menu.vertical.nested {
    background: #162540;
  }
  .subnesteditems {
    border-bottom: 1px solid $mudarkgray;
    margin: 0;
    display: none;
  }
  .closebtn {
    position: absolute;
    // top: 0px;
    right: 20px;
    font-size: 60px;
    color: #fdb813;
  }
  .overlay-content {
    position: relative;
    top: 80px;
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid rgba($mulightgray, .2);
    a {
      padding: 11px 8px;
      text-decoration: none;
      color: $mulightgray;
      display: block;
      transition: 0.3s;
    }
    a:hover, a:focus {
      color: $mulightgray;
    }
    .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
      content: '+';
      border: none;
      font-size: 30px;
      top: 5px;
      margin-top: 0;
      right: 30px;

    }
    .accordion-menu .is-accordion-submenu-parent[aria-expanded='true'] > a::after {
      transform: none;
      content: '-';
    }
    .level1 {
      background-color: $mubluedarkest;
      >li {
        border-bottom: 1px solid rgba($mulightgray, .2);
        &[aria-expanded='true']>a {
          color: $mugold;
        }
      }
      .level2 {
        font-size: .8em;
        margin-left: 0;
        border-bottom: 1px solid rgba($mulightgray, .2);
        a {padding-left: 1rem;}
        .level3 {
          background-color: rgba($mulightgray, .1);
          font-size: .9em;
          margin-left: 0;
          padding-left:  1rem;
        }
      }
    }
  }
}



@media screen and (max-height: 450px) {
  // .overlay a {font-size: 20px}
  // .overlay .closebtn {
  // font-size: 40px;
  // top: 15px;
  // right: 35px;
}
