<style>
    #accordion div a svg {
        width: 18px;
        height: 21px;
        margin: 0 0 0 5px;
        font-size: 20px;
        line-height: 1.35;
        text-align: left;
        fill: #08a8e1;
    }

    #accordion .accordion-item {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.35;
        text-align: left;

        border-radius: 5px;
        border: solid 1px #e0e0e0;
        background-color: #ffffff;
    }
        #accordion .accordion-item a {
            color: #343a40;
            display: inline-flex;
            padding: 12px 24px;
            flex-direction: row;
            width: 100%;
            box-sizing: border-box;
            font-family: HelveticaNeueLTPro-45;
        }
        #accordion .accordion-item a .accordion-header-text {
            flex-grow: 1;
        }
        #accordion .accordion-item .accordion-header.expanded {
            background-color: #f7f7f7;
        }
        #accordion .accordion-item .accordion-header svg .sf-icon-down {
            display: none;
        }
        #accordion .accordion-item .accordion-header svg .sf-icon-right {
            display: block;
        }
        #accordion .accordion-item .accordion-header.expanded svg .sf-icon-down{
            display:block;
        }
        #accordion .accordion-item .accordion-header.expanded svg .sf-icon-right {
            display: none;
        }
        #accordion .accordion-content{
            padding:25px;
        }
</style>