/*
 _______  _______  _______  ______  
(  ____ \(  ____ )(  ___  )(  __  \ 
| (    \/| (    )|| (   ) || (  \  )
| |      | (____)|| (___) || |   ) |
| | ____ |     __)|  ___  || |   | |
| | \_  )| (\ (   | (   ) || |   ) |
| (___) || ) \ \__| )   ( || (__/  )
(_______)|/   \__/|/     \|(______/                                              
<link rel="stylesheet" href="/Sitefinity/WebsiteTemplates/Marian/App_Themes/lib/css/speccss/graduatestyles.css" />
*/


/*hide parts of the global template that don't apply to mucom*/
.applygivecontainer {display: none;}
    .footerctasection {display: none;}
.fixedcta {display: none;}
.persistentalertcontainer {display: none;}


/*force medical school global nav item to be highlighted*/
    .forcehoverstate {background:#e6e6e6; color:#031e51 !important;}
    
    

/*mucom's very custom submenu*/
    .comsubmenu {background: #e6e6e6;padding: 7px 0;}
    .comsubmenu .menu > li:not(.menu-text) > a:hover {background: #031e51;}
    @media screen and (max-width: 40em) {
        .comsubmenu {height: 300px;overflow: hidden;}
        .comsubmenu .is-drilldown-submenu-parent > a::after {border-color: transparent transparent transparent #031e51;}
    }




/*program highlight section*/
    .programhighlights{background:none;}
    .programhighlights .card{overflow:hidden;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);color:#272727;border-radius:3px;background:#ededed;border-color:green;border-style:solid;border-width:7px 0 0;margin:1rem 0;}
    .programhighlights .card.blue,.programhighlights .card.blue .title{color:#031e51;border-color:#031e51;}
    .programhighlights .card.red,.programhighlights .card.red .title{color:#b30738;border-color:#b30738;}
    .programhighlights .card.green,.programhighlights .card.green .title{color:#3CB371;border-color:#3CB371;}
    .programhighlights .card.orange,.programhighlights .card.orange .title{color:#FF8C00;border-color:#FF8C00;}
    .programhighlights .card .title{line-height:1.42rem;font-size:1.42rem;font-weight:400;margin-bottom:0;margin-top:0;color:#000;background:#FFF;padding:.420em 1.3rem;}
    .programhighlights .card .content{font-weight:400;border-radius:0 0 2px 2px;color:#272727;line-height:2em;padding:1.3rem 1.3rem 0;}
    .programhighlights .card .image{position:relative;}
    .programhighlights .card .image img{width:100%;}