/*

INTERNATIONAL STYLES

<link rel="stylesheet" href="/Sitefinity/WebsiteTemplates/Marian/App_Themes/lib/css/speccss/internationalstyles.css" />
*/

/*show the fixed RFI, hide the irrelevant ones*/
.fixedcta .rfiundergrad {display: none;}
    .fixedcta .rfiinternational {display: block;}

.persistentalertcontainer {display: none;}
