/*
<link rel="stylesheet" href="/Sitefinity/WebsiteTemplates/Marian/App_Themes/lib/css/speccss/librarystyles.css" />
*/

/*custom submenu*/
.librarysubmenu {background: #e6e6e6;padding: 7px 0;}
.librarysubmenu .menu .dropsubmenutitle {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #ffab00;
  margin: 10px 10px 0 10px;
}
@media screen and (min-width: 768px) {
    .libsearchbar {margin-top: 90px;}
}
@media screen and (max-width: 40em) {
    .librarysubmenu {height: 280px;overflow: hidden;}
    .librarysubmenu .is-drilldown-submenu-parent > a::after {border-color: transparent transparent transparent #031e51;}
}

/*program highlight section*/
.programhighlights{background:none;}
.programhighlights .card{overflow:hidden;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);color:#272727;border-radius:3px;background:#fcfcfc;border-color:green;border-style:solid;border-width:7px 0 0;margin:1rem 0;}
.programhighlights .card.blue,.programhighlights .card.blue .title{color:#031e51;border-color:#031e51;}
.programhighlights .card.yellowgold,.programhighlights .card.yellowgold .title{color:#FDB813;border-color:#FDB813;}
.programhighlights .card.steelgray,.programhighlights .card.steelgray .title{color:#696C7C;border-color:#696C7C;}
.programhighlights .card .icon {text-align: center; margin-bottom: 10px;}
.programhighlights .card .title{line-height:1.42rem;font-size:2rem;font-weight:400;margin-bottom:0;margin-top:0;color:#000;padding:8px 6px; text-align: center; background: transparent;}
.programhighlights .card .content{font-weight:400;border-radius:0 0 2px 2px;color:#272727;line-height:2em;padding:1.3rem 1.3rem 0;}
.programhighlights .card .image{position:relative;}
.programhighlights .card .image img{width:100%;}
.programhighlights .card a:link, .programhighlights .card a:visited {color:#08a8e1;}
    .programhighlights .card a:hover {border-bottom: 1px solid;}


/*hours today thingamajig*/
.hours-today-row {background: #696c7c; color: #fff;}
