// variables
$saintjoeblue: #1E1A57;
$saintjoeyellow: #DADB25;
$richnavy: #221A32;
$teal: #47A293;
$darkteal: #306556;
$coral: #E24639;
$coralaccessible: #df341f;
$darkcoral: #B82C1F;
$white: #fff;

/*overrides*/
.title-bar {
  background: $richnavy;
  .title-bar-title {
    line-height: 1.1;
    text-transform: uppercase;
    width: 180px;
  }
  .menu-icon {
    margin-right: 1rem;
  }
}



.top-bar,
.top-bar ul {
  background-color: $saintjoeblue;
  opacity: .95;
}

.top-bar {
  a:link,
  a:visited {
    color: $white;
    transition: background-color 0.25s ease-out,color 0.25s ease-out;
  }

  a:hover {
    background: $saintjoeyellow;
    color: $saintjoeblue;
  }
}
/*end overrides*/
body,
html {
  font-size: 18px;
}

.twoyear {
  .imgfloatright {
    float: right;
    margin: 0 0 11px 11px;
  }
}
@media all and (max-width: 768px) {
  .twoyear .imgfloatright {
    float: none;
    margin: 11px auto;
    display: block;
  }
}

.twoyear .button.hollow {
  border: 1px solid #fff;
  color: #fff;
  transition: background-color 0.25s ease-out,color 0.25s ease-out;
}

.twoyear .button.hollow:hover {
  background: #646464;
  color: #fff;
}


.heromessage h1 {
  line-height: 1.2;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 400;
}

.heromessage h2 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}

.heromessage .herosummary {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 300;
}



#about {
}

.sectioncontainer {
  &.dark {
    background: #222222;
  }

  &.light {
    background-color: $white;
    color: $saintjoeblue;

    .sectionheading {
      font-weight: 900;
      font-family: 'arial black', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      letter-spacing: -1px;
      color: $saintjoeblue;
      font-size: 55px;
      line-height: 1;
      small {
        font-family: "times new roman", serif;
        color: $teal;
        font-size: 0.6em;
        font-weight: 500;
        line-height: 1.1;
        margin: 30px 0;
        display: block;
      }
    }
    @media screen and (max-width: 767px) {
      .sectionheading {
        font-size: 40px;
      }
    }
  }
  small {
    font-family: "times new roman", serif;
    color: $teal;
    font-size: 0.6em;
    font-weight: 500;
    line-height: 1.1;
    margin: 11px 0;
    display: block;
  }
}

.intro {
  color: #aaaaaa;
}

.slide {
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 640px;
  background-size: cover;
}

.slide.one {
  background-image: url("../imgtwoyear/jump-for-joy-college-students.jpg");
}

.slide.two {
  background-image: url("../imgtwoyear/bubbles-intro.jpg");
}

.slide.three {
  background-image: url("../imgtwoyear/girls-at-luau.jpg");
}

.slide.four {
  background-image: url("../imgtwoyear/luau-girls-with-snacks.jpg");
}

.sectioncontainer {
  padding: 3.420rem 0;
}

h1,
h2 {
  font-weight: 700;
  line-height: 1;
}
h3 {
  margin-top: 3rem;
}

a:link,
a:visited {
  color: #007fac;
  text-decoration: none;
}

a:hover:not(.button) {
  /*		border-bottom: 1px solid;*/
}

a.blockbutton {
  background: #faa719;
  display: block;
  padding: 1rem;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

a.blockbutton:hover {
  border-bottom: none;
  background: #e6970f;
}

.button.mariangold {
  background-color: $darkteal;
  color: #fff;
}

.button.marianblue {
  background-color: #000000;
  color: #ffffff;
}

#LinkButtonSubmit {
  border-bottom: transparent;
}

svg.caretright {
  width: 7px;
  vertical-align: middle;
}

.sectioncontainer.branding {
  background: rgba(255, 255, 255, 0.51);
  padding: 0.420rem 0;
  z-index: 10;
  position: relative;
}

.branding {}

.branding .logo {}

@media screen and (max-width: 767px) {
  .branding {
    display: none;
  }

  .branding .logo {
    text-align: center;
  }
}

.branding .title {
  display: block;
  font-weight: 900;
  font-family: 'arial black', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1;
  max-width: 270px;
}

.branding .title small {
  display: block;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  letter-spacing: 0;
  color: #4a4a4a;
}

.applygivecontainer {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .applygivecontainer {
    text-align: center;
  }

  .applygivecontainer .button {
    // padding: 9px 5px !important;
  }
}

.applygivecontainer .button.marianblue:hover,
.applygivecontainer .button.mariangold:focus {
  background-color: #524e92;
  color: #ffffff;
  border-bottom: transparent;
}

.applygivecontainer .button.mariangold:focus,
.applygivecontainer .button.mariangold:hover {
  background-color: $saintjoeyellow;
  color: #fff;
  border-bottom: transparent;
}

.applygivecontainer .button {
  position: relative;
  display: inline-block;
  margin: 0;
  text-align: center;
  border-bottom: transparent;
}

.applygivecontainer .button {
  font-weight: 500;
  text-transform: uppercase !important;
  padding: 13px 21px;
  font-size: 1.1rem;
  /*   transform: skew(-10deg);*/
  border-radius: 0;
}

.applygivecontainer .button span {
  /*   transform: skew(10deg);*/
  display: inline-block;
}

.applygivecontainer .button:last-of-type {
  margin-left: 2px !important;
}

.applygivecontainer .button.marianblue {
  background-color: #1E1A57;
  color: #ffffff;
}

.applygivecontainer .button.mariangold {
  background-color: $saintjoeyellow;
  color: $saintjoeblue;
}

.sectioncontainer {
  &.hero {
    // background: #cccccc;
    // background-image: url("../imgtwoyear/sjc-hero-master.jpg");
    // background-position: center top;
    // background-attachment: initial;
    // background-repeat: no-repeat;
    // background-size: cover;
    // margin-top: -115px;
    // padding-top: 115px;
    // min-height: 100vh;
    margin-top: -100px;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .sectioncontainer {
    &.hero {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
      min-height: auto;
    }
  }
}

// #contactpage .sectioncontainer.hero {
//   background-image: url("../imgtwoyear/hero-contact.jpg");
//   min-height: 70vh;
// }
//
// #admissionspage .sectioncontainer.hero {
//   background-image: url("../imgtwoyear/hero-admissions.jpg");
//   min-height: 70vh;
// }
//
// #programspage .sectioncontainer.hero {
//   background-image: url("../imgtwoyear/hero-programs.jpg");
//   min-height: 70vh;
// }
//
// #aboutpage .sectioncontainer.hero {
//   background-image: url("../imgtwoyear/xxxxx.jpg");
//   min-height: 70vh;
// }
//
// #learnandearnpage .sectioncontainer.hero {
//   background-image: url("../imgtwoyear/hero-learnandearn.jpg");
//   min-height: 70vh;
// }
//
// #campuslifepage .sectioncontainer.hero {
//   background-image: url("../imgtwoyear/hero-campuslife.jpg");
//   min-height: 70vh;
// }
//
// #liberalartspage .sectioncontainer.hero {
//   background-image: url("../imgtwoyear/xxxxxxxx.jpg");
//   min-height: 70vh;
// }
//
// #informationtechnologypage .sectioncontainer.hero {
//   background-image: url("../imgtwoyear/xxxxxxxx.jpg");
//   min-height: 70vh;
// }
//
// #businessadministrationpage .sectioncontainer.hero {
//   background-image: url("../imgtwoyear/xxxxxxxx.jpg");
//   min-height: 70vh;
// }



.sectioncontainer.primary {
  background: #262626;
  color: #fff;
}

.sectioncontainer.primary header {
  margin-bottom: 1rem;
}

.sectioncontainer.primary header h2.heading {
  font-weight: 700;
}

.sectioncontainer.studentprofiles .boxcta .item {
  padding: 0.5rem 0.5rem 0;
  background-color: transparent;
}

.sectioncontainer.studentprofiles .boxcta .item .icon {
  padding-bottom: 1rem;
}

.sectioncontainer.studentprofiles .boxcta .item .title {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.sectioncontainer.studentprofiles .boxcta .item .summary {
  font-weight: 400;
  font-size: 0.9rem;
  color: #fff;
}

.sectioncontainer.primaryblue {
  background: #031e51;
  color: #fff;
}

.sectioncontainer.primaryblue header {
  margin-bottom: 1rem;
  color: #fff;
}

.sectioncontainer.primaryblue header h2.heading {
  font-weight: 700;
  color: #fff;
}

.sectioncontainer.primaryblue .boxcta .item {
  padding: 1rem 1rem 0;
  color: #fff;
}

.sectioncontainer.primaryblue .boxcta .item .icon {
  padding-bottom: 1rem;
  color: #fff;
}

.sectioncontainer.primaryblue .boxcta .item .title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
}

.sectioncontainer.primaryblue .boxcta .item .summary {
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
}

.sectioncontainer.secondary {
  background: #031e51;
  color: #fff;
}

.sectioncontainer.secondary .picturegallery .item {
  padding: 0.1rem;
  margin: auto;
}

.sectioncontainer.tertiary {
  background: #fff;
}

.sectioncontainer.fourthery {
  background: indigo;
}

.sectioncontainer.fivery {
  background: #fff;
}

.socialcontainer {
  padding: 4rem 0;
  text-align: center;
}

.socialcontainer svg {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  fill: #696c7c;
}

.socialcontainer a:hover {
  border-bottom: none;
}
// formcontainer styles
.formcontainer {
  background-color: $teal;
  padding: 1rem;
  color: #fff;
  text-align: center;

  label {
    color: white;
  }

  input[type="text"] {
    background: $darkteal;
    border: transparent;
    color: #ffffff;
  }

  select[name="dropdown"],
  select[name='txtState'],
  select[name='txtAreYouCurrently'],
  select[name='txtProgramInterest'] {
    background: $darkteal;
    border: transparent;
    color: #ffffff;
  }

  input::placeholder {
    color: #fff;
  }

  .button.secondary {
    background: #DADB25;
  }
}
/*responsive embed for videos*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*flip cards*/
.flipitgood {
  // margin-bottom: 40px;
  color: #000;
}

.flip-card {
  -webkit-perspective: 1000;
  perspective: 1000;
  border: 0;
  background: transparent;
  /*   cursor: pointer;*/
  margin-bottom: 20px;
  margin-top: 20px;
}

.flip-card.hover .flip-card-inner,
.flip-card:hover .flip-card-inner {
  // -webkit-transform: rotateY(180deg);
  // transform: rotateY(180deg);
}

.flip-card,
.flip-card-inner-back,
.flip-card-inner-front {
  width: 100%;
  height: 12rem;
}

.flip-card-inner {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-inner-back,
.flip-card-inner-front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.flip-card-inner-front {
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flip-card-inner-front span {
  width: 100%;
  text-align: center;
  background: rgba(254, 254, 254, 0.8);
  padding: 0.25rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  opacity: 0.8;
}

.flip-card-inner-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background: #cacaca;
  padding: 1rem;
}

.flip-card-inner-back-title {
  font-weight: bold;
  line-height: 1.1;
}

.flip-card-inner-back-text {
  line-height: 1.3;
}
/*top nav*/
@media screen and (max-width: 39.9375em) {
  .no-js .top-bar {
    display: none;
  }
}
@media print, screen and (min-width: 40em) {
  .no-js .title-bar {
    display: none;
  }
}

[data-sticky] {
  width: 100%;
}

.sticky-container, #stickitcontainer {
  z-index: 101;
  .logohomelink {
    display: none;
    width: 35px;
    padding: 0;
    a:link, a:visited {
      padding: 0;
      margin: 0;
    }
    a:hover {
      background: transparent;
    }
  }
}
@media screen and (min-width: 768px) {
  #stickitcontainer .is-stuck .logohomelink {display: block;}
}

.dropdown.menu {
  a {
      padding: .7rem .5rem;
      font-size: .9rem;
  }
}




a.fixedrfi {
  position: fixed;
  bottom: 20px;
  left: 0;
  background-color: $coralaccessible;
  padding: 11px 21px;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}


img {
  &.imageoffcenter {
    float: right;
    // margin-top: -90px;
    margin-left: 13px;
    max-width: 40vw;
  }
  @media all and (max-width: 480px) {
    &.imageoffcenter {
      float: none;
      display: block;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 60vw;
      margin-bottom: 1rem;
    }
    &.styleforsmall {
      max-width: 60vw;
      margin-bottom: 1rem;
    }
  }
}

.formoutercontainer {
  padding: 2rem 0 3rem;
  // background: rgba(0,0,0,.8);
  background: $darkteal;
}

.facStaffContainer {
  overflow: auto;

  ul {
    // float: left;
    width: 100%;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      float: left;
      background: none;
      width: 33%;
      border-radius: 4px;
      border: 1px solid transparent;
      margin: 0 0 2em;
      padding: 6px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      :hover {
        background: white;
      }

      :nth-child(odd) {
        clear: both;
      }
    }
    @media screen and (max-width: 768px) {
      li {
        width: 100%;
      }
    }
  }

  .photoContainer {
    float: left;
    border: 1px solid #ccc;
    background: #fefefe;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }

  img {
    width: 100%;
  }

  .text {
    float: left;
    margin-left: 15px;
    line-height: 1.3em;
    width: 65%;
  }

  .text strong {
    color: #464646;
    font-size: 1.2em;
  }

  .contactInfo {
    margin: 0.75em 0;
  }
}

.biosection {
  h3 {
    padding-top: 80px;
  }
}





.stepstable {
  td {
    vertical-align: top;
  }
  .step {
    font-weight: 700;
    font-size: 50px;
  }
  .steptitle {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
  }
  .stepbox {
    background-color: #dad9d6;
    color: #031e51;
    line-height: 1;
    text-align: center;
    padding: 10px 20px;
  }
}
ul.listindent {
  margin-left: 41px;
}

.visioncontainer {
  .item {
    padding: 1rem;
    background: $darkteal;
    color: $white;
    margin-bottom: 1rem;
    h3 {
      border-bottom: 1px solid;
    }
  }
}


/*columns*/
.columns2 li, .columns3 li, .columns4 li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }
.columns2 {
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  column-count: 2;
  column-gap: 40px; }
.columns3 {
  -moz-column-count: 3;
  -moz-column-gap: 40px;
  -webkit-column-count: 3;
  -webkit-column-gap: 40px;
  column-count: 3;
  column-gap: 40px; }
.columns4 {
  -moz-column-count: 4;
  -moz-column-gap: 40px;
  -webkit-column-count: 4;
  -webkit-column-gap: 40px;
  column-count: 4;
  column-gap: 40px; }


.accordion {
  .accordion-title {font-size: 1rem;}
}


#sidebar {
  padding-top: 3rem;
}
.localnav {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: $saintjoeyellow;
  ul {
    list-style-type: none;
    margin: 0;
    li {
      line-height: 1.2;
      margin-bottom: 1rem;
      a:link, a:visited {
        color: $saintjoeblue;
      }
    }
  }
}

.blogsection {
  .blogitem {
    border-bottom: 1px solid $saintjoeyellow;
    margin-bottom: 1.5rem;
    h3.title {
      line-height: 1;
      small {
        margin: 0;
      }
    }
    .teaser {}
  }
}

.newssection {
  .newitem {
    border-bottom: 1px solid $saintjoeyellow;
    margin-bottom: 1.5rem;
    h3 {
      line-height: 1.0;
    }
  }
}

// calendar widget styles
.lfcgscalendarstyle {
  a.media-object:link {
    padding: 11px;
    transition: background-color 0.25s ease-out,color 0.25s ease-out;
  }
  a.media-object:hover {
    background-color: rgba(233,233,233, .5);
  }
}




// catch all media query for mobile
@media all and (max-width: 767px) {
  h3 {
    font-weight: 700;
  }
}
